/* 
    NAVBAR 
*/

.navbar{
    width:100vw; /* fallback */
    width: 100dvw;
    height: fit-content;
    position: fixed;
    margin-top: 4vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.navbar p, .navbar a{
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color:white;
    text-decoration: none; 
}

.navbar .menu-button{
    padding: 15px 30px;
    border-radius: 30px;
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.navbar .menu-button:hover{
    padding: 20px 30px;
}

.navbar-content{
    visibility: collapse;
    display: flex;
    justify-content: space-around;
    width: 0px;

    border-radius: 30px;
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    
    overflow: hidden;
    transition: width 300ms;
}

.navbar-content a{
    visibility: collapse;
    padding: 10px 15px;
    margin: 10px 10px;
    border-radius: 25px;

    overflow: hidden;
    text-wrap: nowrap;
    align-self: center;
    background-color: transparent;
}

.navbar-content.show{
    visibility: visible;
    width: 400px;
    max-width: fit-content;
}

.navbar-content.show a{
    visibility: visible;
}

.navbar-content.show a:hover{
    background-color:rgba(255, 255, 255, 0.05);
}

@media only screen and (max-width: 600px) {
    
    .navbar-content{
        width:80vw;
    }

    .navbar-content.show a{
        font-size: 12px;

        margin-left: 0px;
        margin-right: 0px;
    }
}