/* 
    BASE 
*/

body{
    margin: 0;
    background-color: black;
    color:white;

    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body *{
    margin:0;   
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page.center{
    justify-content: center;
}

/* 
    BUTTON 
*/

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-box .button{
    margin-left: 20px;
}

.button-box .button:first-child{
    margin-left: 0;
}

.button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1a1a1a;
    border-radius: 25px;

    color:white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.highlight{
    background-color: white;
    color:black;
}


/* 
    INTRO 
*/

.page-intro{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title{    
    font-weight: 600;
    font-size: 48px;
    
    align-self: center;
}

.page-intro .title{
    font-size: 5vw;
    font-weight: 600;
}

.page-intro .description{
    margin-top: 40px;
    width: 40vw;

    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.page-intro .button-box{
    margin-top: 60px;
}

.page-intro .button-box .button:first-child{
    background-color: white;
    color:black;
    margin-left: 0;
}


/* 
    ABOUT 
*/

.about{
    margin-top: 20vh;
    width: 80%;
    height: 50%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about img{
    object-fit: cover;
    object-position: 50% 50%;
    width: 40%;
    max-width: 50%;
}

.about-text{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-text .title{
    font-weight: 600;
    font-size: 4vw;
    margin-top: 10vh;
}

.about-text .description{
    margin-top: 0;

    font-size: 1vw;
    font-weight: 400;
    line-height: 28px;
}

.about-text .button{
    margin-top: 5vh;
}

.box{
    width: 45%;
} 

.box p{
    font-weight: 450;
    font-size: 1vw;
    line-height: 1.5vw;
}


/* 
    CONTENT 
*/

.content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 10vh;
    margin-bottom: 10vh;
}

.content-wrapper.col{
    flex-direction: column;
}

.content-wrapper.center{
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.content.center{
    justify-content: center ;
}

.content .title{
    font-weight: 600;
    font-size: 2.5vw;
    margin-bottom: 3vh;
}

.content .description{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.content .button-box{
    margin-top: 5vh;
}

.experience-content{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience-content .big-title{
    font-weight: 600;
    font-size: 3vw;
    
    margin-top: 0vh;
}

.experience{
    width: 30vw;
}

.experience-item{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 10vh;
}

.experience-item .title{
    font-size: 1.5vw;
    font-weight: 600;
}

.experience-item .date{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: .8vw;
    color: #A3A3A3;
}

.experience-item .description{
    margin-top: 3vh;

    font-weight: 400;
    font-size: 1vw;
    line-height: 2vw;
}

.image{
    width: 30vw;
    height: 30vw;
}

.placeholder{
    margin-top: 30vh;
    margin-left: 10vw;
    background-color: #1a1a1a;
    width: 50%;
    height: 50%;
}

.image img{
    max-width: 100%;
    max-height: 100%;
}


/* 
    ICONS 
*/

.icon-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-content-wrapper h1{
    margin-top: 10vh;

    font-weight: 600;
    font-size: 2.5vw;
    text-align: center;
}

.icon-content{
    width: 60vw;
    margin-top: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon{
    display: flex;
    flex-direction: column;
}

.icon h1{
    text-align: center;
    font-size: 1vw;
    font-weight: 600;
    
    margin-top: 1vh;
}

.icon p{
    font-weight: 400;
    text-align: center;
    color:#A3A3A3;
    font-size: 0.8vw;

    margin: 0;
}

.icon img{
    align-self: center;
    max-width: 5vw;
    max-height: 10vh;
    border-radius: 1.2vw;
}


/* 
    NAVBAR 
*/

.navbar{
    width: 100%;
    height: fit-content;
    position: absolute;
    margin-top: 5vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    
    font-weight: 600;
    font-size: 18px;
}

.navbar p, .navbar a{
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color:white;
    text-decoration: none;
}

.navbar .menu-button{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    background-color: #1a1a1a;

    transition: .2s;
}

.navbar .menu-button:hover{
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-content{
    visibility: collapse;
    display: flex;
    justify-content: space-around;

    width: 12vw;    
    background-color: #1a1a1a;

    transition: width .2s ;
}

.navbar-content a{
    visibility: collapse;
}

.navbar-content.show{
    visibility: visible;
    border-radius: 30px;
    width: 20vw;
}

.navbar-content.show a{
    visibility: visible;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;

    align-self: center;
    background-color: #1a1a1a;
}

.navbar-content.show a:hover{
    background-color: #2a2a2a;;
}

/* 
    FOOTER 
*/

.footer{
    height: 5vh;
    width: 60vw;
    margin-bottom: 20px;
    margin-top: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

.footer p{
    color: #A3A3A3; 
    font-size: calc(10px + 0.5vw);
    line-height: 26px;
}


.test{
    background-color: aqua;
}